@model IEnumerable<ProjektMVC.Models.AW.Drzava>

@{
    ViewBag.Title = "Drzave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Države</h2>

<p>
    @Html.ActionLink("Nova država", "Create")
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td class="text-right">
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Gradovi", "Gradovi", new { id = item.IDDrzava }) @*|*@
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>


</table>
