@model IEnumerable<ProjektMVC.Models.Projekt.Grad>

@{
    ViewBag.Title = "Gradovi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gradovi</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td class="text-right">
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Kupci", "Kupci", new { id = item.IDGrad }, new { @class = "btn btn-info" }) @*|*@
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Natrag", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-info" })
</p>