@model int

@{
    ViewBag.Title = "Racuni";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script>
    window.onload = function () {
        var sortValue = "dUzlazno";
        var id = @Model.ToString();
        $("#tablica").load("/Projekt/Sort/" + id + "/" + sortValue);
    }

    function sort() {
        var sortValue = $("select#ddlSort option:selected").attr("value");
        var id = @Model.ToString();
        $("#tablica").load("/Projekt/Sort/" + id + "/" + sortValue);
}
    
</script>

<h2>Računi</h2>

<div class="col-md-2">
    <select id="ddlSort" class="form-control" onchange="sort()">
        <option hidden selected>Sortiraj</option>
        <option value="dUzlazno">Datum uzlazno</option>
        <option value="dSilazno">Datum silazno</option>
        <option value="kUzlazno">Komercijalist uzlazno</option>
        <option value="kSilazno">Komercijalist silazno</option>
        <option value="tUzlazno">Tip kartica uzlazno</option>
        <option value="tSilazno">Tip kartice silazno</option>
    </select>
</div>
<div id="tablica"></div>

<p>
    @Html.ActionLink("Natrag", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-info" })
</p>
